body {
    font-family: Arial, sans-serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(161, 218, 215, 1) 57%, rgba(179, 148, 233, 1) 100%);
}

#produtos-container ul {
    list-style-type: none;
    padding: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(161, 218, 215, 1) 57%, rgba(179, 148, 233, 1) 100%);
    color: rgb(114, 105, 239);
}

#produtos-container li {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    margin: 7px 7px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

#produtos-container img {
    margin-right: 20px;
}

#produtos-container h2 {
    margin: 0;
    font-size: 1.2em;
}

#produtos-container p {
    margin: 5px 0 0;
    color: #555;
}